.cabecalho{
    text-align: center; 
    text-shadow: 1px 1px rgb(46, 0, 253); 
    font-size: 50px; font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; 
    background-color: rgb(24, 23, 23); 
    color: rgb(141, 199, 250);
    height: 65px;
    border-top: 1px solid rgb(48, 53, 53);
   
}

